.card {
    list-style: none;
    cursor: pointer;
    transition: transform 0.2s;
  }
  
  .card img {
    width: 100%;
    height: auto;
    border-radius: 5px;
  }
  
  .card:hover {
    transform: scale(1.05);
  }
  