.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.3s ease-in-out;
  }
  
  .modal {
    background: white;
    padding: 15px;
    border-radius: 10px;
    max-width: 80%;
    max-height: 90%;
    text-align: center;
    position: relative;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
    animation: fadeIn 0.3s ease-in-out;
  }
  
  .content {
    position: relative;
  }
  
  .image {
    max-width: 100%;
    max-height: 80vh;
    border-radius: 5px;
  }
  
  .closeBtn {
    position: absolute;
    top: -10px;
    right: -10px;
    background: #dc3545;
    color: white;
    border: none;
    border-radius: 50%;
    padding: 8px 10px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s;
  }
  
  .closeBtn:hover {
    background: #c82333;
  }
  
  /* Анімація відкриття */
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: scale(0.95);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }
  